/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 3, 2016, 8:52:15 PM
    Author     : Rustam Drake
*/

.root{
    -fx-background-color: #383838;
}
#message1 {
    -fx-font-family: "Monospace";
    -fx-font-size: 12;
}
#message2 {
    -fx-font-family: "Monospace";
    -fx-font-size: 20;
}

