/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 31, 2016, 7:16:52 PM
    Author     : Rustam Drake
*/

.root{
    -fx-background-color: #383838;
}

.sp{
     -fx-background-color: chocolate;
}

.root{
    -fx-background-color: #9999ff;
}
#sp{
    -fx-background-color: darkseagreen;
}

.button{
    -fx-background-color: #9999ff;
}

.button:hover{
    -fx-background-color: indigo;
}
